<!DOCTYPE html>
<html>
<head>
<style>
/*A CSS comment is placed inside the <style> element, and starts with /* and ends with */
/* This is a single-line comment */
body {
  background-color: rgba(1, 49, 50, 0.524);
}

h1 {
  color: rgb(29, 0, 159);
  font-size: 40px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(29, 0, 159);
  font-size: 24px;
}

p.center {
  text-align: center; 
  color: darkblue;
}

/* This is
a multi-line
comment */

p.medium {
  font-size: medium;
}

hr {
  border-color: rgb(0, 0, 49);
}

</style>
</head>
<body>

<center>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/CSS3_logo_and_wordmark.svg/1452px-CSS3_logo_and_wordmark.svg.png" width="100" height="130" alt="CSS">
</center>
<hr>
<h1>This is a Heading</h1>
<p>This is a paragraph.</p>
<p>Every paragraph will be affected by this style.</p>
<hr>

<p class="center">Dark Blue and center-aligned paragraph using the CSS class Selector.</p>
<p class="center medium">This paragraph refers to two classes.</p>
<p><mark>A class name cannot start with a number!</mark></p>
<hr>

</body>
</html>
