<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: rgba(1, 49, 50, 0.524);
}

h1 {
  color: darkslategray;
  text-align: center;
  font-size: 70px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
}

p.center {
  text-align: center;
  color: darkblue;
}

p.medium {
  font-size: medium;
}

p.highlight {
  color: yellow;
}
</style>
</head>
<body>

<h1>CSS</h1>
<p>This is a paragraph.</p>
<p>Every paragraph will be affected by this style.</p>

<p class="center">Dark Blue and center-aligned paragraph using the CSS class Selector.</p>
<p class="center medium">This paragraph refers to two classes.</p>
<p class="highlight">Note: A class name cannot start with a number!</p>

</body>
</html>
